**/*.0
**/*.a
*.a
/aclocal.m4
aclocal.m4
*.app
/ar-lib
/autom4te.cache
autom4te.cache/
/autoscan-*.log
/autoscan.log
buildpkg.sh
/compile
/config.guess
config.h
/config.h.in
config.h.in
config.h.in~
config.log
config.status
/configure
configure
/configure.scan
/depcomp
.deps/
*.dll
*.dSYM/
*.dylib
*.elf
*.exe
*.gch
*.hex
*.i*86
/install-sh
*.ko
*.la
*.lib
.libs/
/libtool
**/*.lo
*.lo
*.log
# logs
/ltmain.sh
make_and_run.sh
Makefile
Makefile.in
/mdate-sh
/missing
**/*.o
*.o
*.obj
openbsd-compat/Makefile
openbsd-compat/regress/Makefile
opensshd.init
openssh.xml
**/*.out
*.out
*.pch
/py-compile
!regress/misc/fuzz-harness/Makefile
!regress/unittests/sshsig/Makefile
scp
sftp
sftp-server
**/*.so
*.so
*.so.*
ssh
ssh-add
ssh-agent
sshd
ssh-keygen
ssh-keyscan
ssh-keysign
ssh-pkcs11-helper
ssh-sk-helper
ssh-keycat
/stamp-h1
*.su
survey.sh
t/
tags
/test-driver
tests/*
!tests/*.c
!tests/*.h
!tests/Makefile.am
/texinfo.tex
*.vscode/
*.x86_64
/ylwrap
