*.o
*.out
sshd
ssh
*pub
ssh-*
scp
sftp
sftp-server
survey.sh
zerofile
*.a
localhost
id_rsa_im
configure
openbsd-compat/*
Makefile
autom4te.cache/*
config.h*
config.status
openssh.xml
opensshd.init
ssh_host_rsa_key
buildpkg.sh
